.App {
  text-align: center;
  justify-content: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-header {
  text-align: center;
  justify-content: center;
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 2.7rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeH1 {
  font-size: 2.4rem;
  text-align: center;
  color: #f0f8ff;
}
.homeH3 {
  font-size: 1.7rem;
  margin-top: 50px;
  text-align: center;
  color: #f0f8ff;
}
.homeLink:hover {
  color: #b7b7f6;
}
.homeLink {
  font-size: 2.4rem;
  text-align: center;
  color: #f0f8ff;
}
.ninjaList {
  color: #b7b7f6;
}
.shinobiList {
  margin-top: 15px;
  padding: 10px;
}
.formDiv {
  border: thick double #32a1ce;
  border-radius: 5px;
  width: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.formDash {
  margin-top: 25px;
}
.formInput {
  height: 2rem;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
}
.formButton {
  font-size: 1.3rem;
  border-radius: 10px;
  height: 2rem;
  margin: 10px;
  width: 200px;
  background-color: #d2691e;
}
